.App {
  position: absolute;
  text-align: center;
  width: calc(100vw - 2px);
  min-width: 650px;
  height: calc(100% - 2px);
  background-color: #f4f4f4;
  border-radius: 15px;
  display: flex;
  border: 1px solid #dedede;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Left-menu {
  position: relative;
  width: 200px;
  min-width: 200px;
  border-right: 1px solid #dedede;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.Right-menu {
  width: calc(100vw - 200px);
  min-width: 450px;
  position: relative;
}
.Button-menu {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  height: 30px;
  border: 0px;
}
.Button {
  width: 12px;
  height: 12px;
  border-radius: 14px;
  margin-right: 4px;
  border: 1px solid #dedede;
}

.Menu-Title {
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.Title-menu {
  padding-top: 20px;
  height: 40px;
  border-bottom: 1px solid #dedede;
  font-size: 20px;
  font-weight: bolder;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.Content {
  background-color: white;
  position: relative;
  height: calc(100% - 80px);
  overflow-y: auto;
}
.Copyright-font {
  height: 19px;
  width: 100%;
  border-bottom: 1px solid #dedede;
  font-size: 10px;
  background-color: white;
  border-bottom-right-radius: 15px;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.Information-Portfolio {
  position: absolute;
  width: 100%;
  font-size: 10px;
  bottom: 5px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.footer {
  width: 100%;
  height: 50px;
}

.list {
  text-align: left;
  font-weight: bold;
  margin-left: 20px;
  width: calc(38% - 20px);
}

.list li {
  font-weight: normal;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
