.App {
  position: absolute;
  text-align: center;
  width: calc(100vw - 2px);
  min-width: 650px;
  height: calc(100% - 2px);
  background-color: #f4f4f4;
  border-radius: 15px;
  display: flex;
  border: 1px solid #bdbebf;
}

.left-menu {
  position: relative;
  width: 200px;
  min-width: 200px;
  border-right: 1px solid #bdbebf;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.right-menu {
  width: calc(100vw - 200px);
  min-width: 450px;
  position: relative;
}

.button-menu {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  height: 30px;
  border: 0px;
}

.button {
  width: 12px;
  height: 12px;
  border-radius: 14px;
  margin-right: 4px;
  border: 1px solid #bdbebf;
}

.portfolio-title {
  padding-top: 30px;
  padding-bottom: 30px;
}
.address-bar {
  padding-top: 17px;
  height: 42px;
  border-bottom: 1px solid #bdbebf;
}
.content {
  background-color: white;
  position: relative;
  height: calc(100% - 85px);
  overflow-y: auto;
}
.copyright {
  height: 20px;
  padding-top: 5px;
  width: 100%;
  border-bottom: 1px solid #bdbebf;
  background-color: white;
  border-bottom-right-radius: 15px;
}
.information-portfolio {
  position: absolute;
  width: 100%;
  bottom: 5px;
}

.footer {
  width: 100%;
  height: 50px;
}

.portfolio-list {
  text-align: left;
  margin-left: 20px;
}

.portfolio-list span {
  display: flex;
  position: relative;
  margin-top: 0.5em;
  margin-bottom: 2px;
  cursor: pointer;
}

summary {
  margin: -0.5em -0.5em;
  display: flex;
}
details {
  width: 140px;
  margin-bottom: 1.5em;
}
summary::-webkit-details-marker {
  display: flex;
  margin-top: 0.25em;
}
